html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    --maudo: red;
}
.header{
    background-color: var(--maudo);
    width: 125px;
    height: 125px;
}
.header:hover{
    transform: scale(2);
    transition: height 2s width 10s;
}